.photos {
    margin-top: 15px;
    margin-left: 10px;
    height: 80vh;
    align-items: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
   
   

}
#conteiner-fotos{

   
    margin-bottom: 5px;
    height: 70vh;
    overflow:auto;
}

.photos .adicionar label {
    width: 100px;
    height: 100px;
    font: 0.7em sans-serif;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 2px;
    
}
.photos .adicionar label span{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
.photos .button-adicionar{
    width: 60px;
    height: 60px;
    padding: 2px;
   
}
 #photos {
    position: relative;
    height: 100%;
    width: 100%;
    top:0px;
    background: #47444410;
    
    

}

.photos .button-adicionar:hover{
    border-radius: 2px;
    background: #7e7a7a5e;
    cursor: pointer;
    color: black;
}
.photos input {
    display: none;
}

.photos .card-photos {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;


}

.photos .card-photos img {
 
    border-radius: 5%;
    width: 300px;
    height: 200px;
    object-fit: fill;
   
}

.photos .card-photos img:hover{
    border: solid  1px #797878bb;
    zoom: 104%;
    cursor: pointer;
    opacity: 0.8;
    
}