.nav-lateral {
    width: 100%;


}

.barra-lateral {
    display: none;
    overflow: hidden;
    width: 100%;
    padding: 2%;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    grid-area: S;
    transition: 0.2s;

}

.barra-lateral .botao {

    text-align: center;
    color: black;
    border: none;
    padding: 10px;
    height: 50px;
    width: 100%;
    border-radius: 10%;
    background-color: #89a8d6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin: 5px;


}
.barra-lateral .botao:hover{
    background-color: #6ca6e7e5;
    transform: translateY(-5px);
        transition: 400ms;
}

.barra-lateral .botao.ativo{
    background-color: #2d6e19a6;
    transform: translateY(-5px);
        transition: 400ms;
}

.barra-lateral .nav-lateral {
    display: flex;
}

@media(min-width:900px){
    .barra-lateral{display:flex;}


}




@media(max-width:900px) {




    #menu-icon {
        display: block;
        border: none;
        background: none;
        border-radius: 20px;
        padding: 10px;



    }

    .barra-lateral {
        flex-direction: row;
        transition: 0.4s;
    }

    .barra-lateral .nav-lateral {
        display: flex;
    }


    .barra-lateral .botao {

        text-align: center;
        color: black;
        border: none;
        height: 50px;
        width: 100%;
        border-radius: 10%;
        background-color: #89a8d6;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
        margin: 5px;


    }

    .botao:hover {
        transform: translateY(-10px);
        background-color: #193b6e;
        transition: 400ms;


    }


    .botao.ativo {
        background-color: #2d6e19a6;
        transform: translateY(-10px);
        transition: 400ms;
    }



}