input{
    width: 25px;

}
label{
    
    width: 250px;
    margin-left: 10px;

}


.radioBox{
background-color: #47444454;
    width: 300px;
    display: flex;
    align-items: center;
    
    
}

.radioBox:hover{

    background-color: #47444498;

}