.formulario{
    display: flex;
    flex-direction: column;
    overflow:auto;
}

.cadastro-conteudo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


/*botao faz parte do formulario*/
.btn {
    width: 100px;
    height: 50px;
    margin-left: 100px;
    background-color: rgb(52, 52, 201);

    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgb(13, 13, 102);
    transition: 0.2s;

}







.condutor-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.condutor-form input {
    height: 25px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: antiquewhite;
}

@media(max-width:900px) {
    .btn {
        margin-left: auto;
        margin-right: auto;
    }

}

@media(max-height:600px) {
    .formulario {
        overflow-y: scroll;
    }
}