<<<<<<< HEAD
.conteiner-condutor {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin-bottom: 2%;
    padding: 5px;
}

.conteiner-condutor input {
    height: 25px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: antiquewhite;
=======
.condutor-form{
    width: 400px;
    margin-top: 15px;
    margin-left: 40px;



>>>>>>> 801500db328806bd68e6e23d973dcf82e0585b34
}