.header {
   
    background-color: #ffff;
    display: flex;
    padding:0px 4px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 5px 0px #a19f9f;
    z-index: 3;

   
    

}

#icon-checked{
    display: none;
}


.icon img{
    
    border: none;
    background:none;
    border-radius: 20px;
    padding: 10px;
    


}

.icon img:hover {
    cursor: pointer;
    transition: 0.4s;


}




.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;




}

.user-info a {
    font-size: x-large;


}



@media(min-width:900px){
    .icon img {
        display: none;

    }

}

@media(max-width:900px){

    
}