:root{
    --primary-key-bar: #b8bfcab6;
    --selected-key:#b6cbeca4;
    --active-key:#b6cec0a6;

}



.button-navigation {

    margin-left: 3px;
    display: flex;
    gap: 10px;
    overflow: hidden;
}

.button-navigation a {
    color: black;
  
    height: 30px;
    width: 150px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color:var(--primary-key-bar);
    font-size: 0.9rem;
    top: 20px;



}

.button-navigation a:hover {
    background-color: var(--selected-key);
 
    transition: 400ms;
}


.barra{
    display: flex;
    width: 100%;
  
}
.button-navigation .active {
    background-color: var(--active-key);
   
}

@media (max-width:900px){
    .button-navigation a{
        font-size: 0.8rem;
    }

    



}