#conteiner-dados-vistoria{
    padding: 2%;
    width: 60%;


}


.item{
    
    align-items: center;
    display: flex;
    margin-bottom: 3px;

}

.item:nth-child(even){
    background-color: rgba(217, 217, 217,4) ;
}



.item label {
    width: 50%;
    justify-content: center;
}

.option{
    width: 50%;
    display: flex;
    
}
.situacao{
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 20px;
    align-items: center;
     
}

.situacao input{
    
    width: 100%;
    height: 90%;
    
}

