
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #8d9aad;
    text-align: center;
    padding: 8px;
    
}

tbody:nth-child(even){
background-color: rgba(217, 217, 217,4) ;



}