.nav-lateral {
    width: 100%;


}

.barra-lateral {
   overflow: hidden;
    width: 100%;
    padding: 2%;
    transition: 0.2s;

}

#icon-checked:checked ~.barra-lateral{
  display: block;
}


.barra-lateral .botao:hover{
    background-color: #c7cace44;
}

.barra-lateral .botao.ativo{
    background-color: #93969263;
    
}

.barra-lateral .nav-lateral {
    
    display: flex;
    flex-direction: column;
}


@media (max-width:900px) {
    .barra-lateral {
        display: none;
        position: absolute;
        background-color: rgb(255, 255, 255);
        left: 0;
        max-width:200px;
        height: 100%;
        flex-direction:row;
        transition:all 0.4s;
        
    }
    .barra-lateral .botao {

        text-align: center;
        color: black;
        border: none;
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
      
    
    
    }
    
    
    
}


@media(min-width:900px) {

    .barra-lateral .nav-lateral {
    
        display: flex;
        flex-direction:row;
    }



    #menu-icon {
        display: block;
        border: none;
        background: none;
        border-radius: 20px;
        padding: 10px;



    }

    .barra-lateral {
        flex-direction:row;
        transition: 0.4s;
    }

    .barra-lateral .nav-lateral {
        display: flex;
    }



    .barra-lateral .botao {

        text-align: center;
        color: black;
        border: none;
        width: 100%;
        height: 30px;
        padding: 4px;
        justify-content: center;
        align-items: center;
        border-left: 0.5px solid;
    
    
    }
    

  



}