.barra-lateral {

    width: 150px;
    border-right: solid #dfdfd1 0.1mm;
    background-color: #ffffff;
    display: flex;
    border-radius: 10px;
    box-shadow: 2px 2px 2px  #8d9aad;
    padding: 2%;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    grid-area: S;
    transition: 0.2s;




}


.barra-lateral .botao {
    border: none;
    height: 100px;
    width: 100%;
    background-color: #89a8d6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;




}

.barra-lateral .botao:hover {
    background-color: #193b6e;
    transition: 400ms;

}

@media(max-width:900px){
    
 .barra-lateral {
     display: none;
     flex-direction: row;
 }
 .visible{
     width: 100%;
    display:flex;


 }




}